files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Custom 50npm.sh script for appdeploy"
      # Prevent installing or rebuilding like Elastic Beanstalk tries to do by
      # default.
      exit 0

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Custom 50npm.sh script for configdeploy"
      # Prevent installing or rebuilding like Elastic Beanstalk tries to do by
      # default.
      exit 0