files:
  "/etc/yum.repos.d/yarn.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [yarn]
      name=Yarn Repository
      baseurl=https://dl.yarnpkg.com/rpm/
      gpgcheck=1
      gpgkey=https://dl.yarnpkg.com/debian/pubkey.gpg
      enabled=1

commands:
  01_install_yarn:
    command: |
      sudo yum install -y yarn